
<title><%= title %></title>
<link rel='stylesheet' href='/css/style.css' />
<script type="text/javascript">
	var context = <%- context %>;
</script>
<script src="/js/vendor.bundle.js"></script>
<script src="<%- js %>"></script>
