<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/style.css' />
		<script src="/js/vendor.bundle.js"></script>
		<script src="/js/second.bundle.js"></script>
	</head>
	<body>
		<hr/>
		<div id="content-second">
		</div>
	</body>
</html>
