<!DOCTYPE html>
<html>
	<head>
		<% include ../../../shared/partials/head.ejs %>
	</head>

	<body>
		<header>
			<% include ../../../shared/partials/header.ejs %>
		</header>

		<main>
			<hr/>
			<div id="content-hnt10">
				<%- markup %>
			</div>
		</main>

		<footer>
			<% include ../../../shared/partials/footer.ejs %>
		</footer>
	</body>
</html>

